% rebase('osnova.html')

<header>
    <h1>Instructor-inator</h1>
  <nav>
      <a href="/urnik/">Urnik</a>
      <a href="/osebne_ure/">Moje ure</a>
      <a href="/odpoved/{{leto}}/{{teden}}/">Odpovej uro</a>
      %if instruktor_bool:
          <a href="/razpolaganje/{{leto}}/{{teden}}/">Razpoloži ure</a>
          <a href="/ustvari_predmet/">Ustvari nov predmet</a>
      %else:
          <a href="/rezervacija/">Rezerviraj uro</a>
      %end

      <form action="/odjava" method="POST" style="text-align: center; float: right;">
          <button style="background-color: #29b5a4; position: relative; text-align: center; position: absolute; right: 40px; top: 2%;">
              <b>&#128682; Odjava</b>
          </button>
      </form>
  </nav>
  </header>

<h2>Odpoved ur</h2>

<form action="/odpovej/" method="post">
<table>
    <tr>
        <th> Ure </th>
        <th> PON </th>
        <th> TOR </th>
        <th> SRE </th>
        <th> ČET </th>
        <th> PET </th>
        <th> SOB </th>
        <th> NED </th>
    </tr>
    
    % if instruktor_bool:
        %for vrstica in vrstice:
        <tr>
            %for celica in vrstica:
                % if celica == '':
                    <td style="width: 100px; height: 100px;text-align: center;">
                        
                    </td> 
                % elif vrstica.index(celica) != 0 and (celica.stopnja_zasedenosti == 2 or celica.stopnja_zasedenosti == 1):
                    <td style="width: 100px; height: 100px;text-align: center;">
                        <input type="checkbox" id="{{celica.id}}" name="ure" value="{{celica.id}}">
                        <label for="{{celica.id}}"> {{celica}}</label>
                    </td>
                %else:
                    <td style="width: 100px; height: 100px;text-align: center;">{{celica}}</td>
                % end
            %end
        </tr>
        %end
    % else:
        %for vrstica in vrstice:
        <tr>
            % for celica in vrstica:
                %if celica == '' or vrstica.index(celica) == 0:
                    <td style="width: 100px; height: 100px;text-align: center;">{{celica}}</td>
                %else:
                    <td style="width: 100px; height: 100px;text-align: center;">
                        <input type="checkbox" id="{{celica.id}}" name="ure" value="{{celica.id}}">
                        <label for="{{celica.id}}"> {{celica.predmet}}<br> {{celica.instruktor}}</label>
                    </td>
                %end
            % end
        </tr>
        %end
    % end
</table>


% if instruktor_bool:
    
        <label for="izbris"><input type="checkbox" id="izbris" name="izbris" value="1"> Želim da se te ure počistijo in postanejo nedosegljive strankam</label>
% end

<button type="submit">Potrdi</button>
</form>

<form action="/cancel/" method="get">
    <button>Prekliči</button>
</form>