% rebase('osnova.html')
<h4>Prihodnje ure</h4>

% if prihajajoce_ure != []:
<table>
    <tr>
        <th>Datum in ura</th>
        <th>Stranka</th>
        <th>Predmet</th>
    </tr>
        % for ura in prihajajoce_ure:
            <tr>
                <td>{{ura.cas}}</td>
                <td>{{ura.ucenec}}</td>
                <td>{{ura.predmet}}</td>
            </tr>
        %end
</table>
% else:
    <p>Pri naših inštruktorjih niste imeli še nobene ure.</p>
% end

<h4>Pretekle ure</h4>

% if pretekle_ure != []:
<table>
    <tr>
        <th>Datum in ura</th>
        <th>Stranka</th>
        <th>Predmet</th>
    </tr>
        % for ura in pretekle_ure:
            <tr>
                <td>{{ura.cas}}</td>
                <td>{{ura.ucenec}}</td>
                <td>{{ura.predmet}}</td>
            </tr>
        % end
</table>
% else:
<p>Trenutno nimate nobenih prihajajočih ur.</p>
% end

<form action="/cancel/" method="get">
    <button>Nazaj</button>
</form>