% rebase('osnova.html')

<header>
    <h1>Instructor-inator</h1>
  <nav>
      <a href="/urnik/">Urnik</a>
      <a href="/osebne_ure/">Moje ure</a>
      <a href="/odpoved/{{leto}}/{{teden}}/">Odpovej uro</a>
      <a href="/razpolaganje/{{leto}}/{{teden}}/">Razpoloži ure</a>
      <a href="/ustvari_predmet/">Ustvari nov predmet</a>

      <form action="/odjava" method="POST" style="text-align: center; float: right;">
          <button style="background-color: #29b5a4; position: relative; text-align: center; position: absolute; right: 40px; top: 2%;">
              <b>&#128682; Odjava</b>
          </button>
      </form>
  </nav>
  </header>

<form action="/razpolozi/" method="post">
<table>
    <tr>
        <th> Ure </th>
        <th> PON </th>
        <th> TOR </th>
        <th> SRE </th>
        <th> ČET </th>
        <th> PET </th>
        <th> SOB </th>
        <th> NED </th>
    </tr>
    
    %for vrstica in vrstice:
    <tr>
        %for celica in vrstica:
            % if vrstica.index(celica) != 0 and celica.stopnja_zasedenosti == 0:
                <td>
                    <input type="checkbox" id="{{celica.id}}" name="ure" value="{{celica.id}}">
                    <label for="{{celica.id}}"> {{celica}}</label>
                </td>
            % else:
                <td>
                    {{celica}}
                </td>
            % end
        %end
    </tr>
    %end
</table>
<button type="submit">Potrdi</button>
</form>

<form action="/cancel/" method="get">
    <button>Prekliči</button>
</form>