% rebase('osnova.html')
<header>
    <h1>Urnik</h1>
    <nav>
        <a href="/urnik/">Urnik</a>
        <a href="/osebne_ure/">Moje ure</a>
        <a href="/odpoved/{{leto}}/{{teden}}/">Odpovej uro</a>
        %if instruktor_bool:
            <a href="/razpolaganje/{{leto}}/{{teden}}/">Razpoloži ure</a>
            <a href="/ustvari_predmet/">Ustvari nov predmet</a>
        %else:
            <a href="/rezervacija/{{id_instruktorja}}/{{leto}}/{{teden}}/">Rezerviraj uro</a>
        %end

        <form action="/odjava" method="POST" style="text-align: center; float: right;">
            <button style="background-color: #29b5a4; position: relative; text-align: center; position: absolute; right: 40px; top: 2%;">
                <b>&#128682; Odjava</b>
            </button>
        </form>
    </nav>
</header>

<div class="w3-sidebar w3-bar-block" style="width:25%">
<a href="#" class="w3-bar-item w3-button">Link 1</a>
<a href="#" class="w3-bar-item w3-button">Link 2</a>
<a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<div style="margin-left:25%">
... page content ...


<form action="/urnik/" method="get">
    <label for="instruktorji">Izberite inštruktorja:</label>
        <select name="instruktorji" id="instruktorji">
            %for instruktor in seznam_instruktorjev:
                <option value="{{ instruktor.id }}"> {{instruktor}} </option>
            %end
        </select>
        <input type="submit" value="Potrdi">
</form>


<table>
    <tr>
        <th> Ure </th>
        <th> PON </th>
        <th> TOR </th>
        <th> SRE </th>
        <th> ČET </th>
        <th> PET </th>
        <th> SOB </th>
        <th> NED </th>
    </tr>
    
    %for vrstica in vrstice:
    <tr>
        %for celica in vrstica:
            <td>{{celica}}</td>
        %end
    </tr>
    %end
</table>

.buttons {
    width: 200px;
    margin: 0 auto;
    display: inline;}
    
        .action_btn {
    width: 200px;
    margin: 0 auto;
    display: inline;}

<p>
    <form action="/urnik/{{ id_instruktorja }}/{{ leto_prejsnjega_tedna }}/{{ prejsnji_teden }}/" method="get"><button>Prejšnji teden</button></form>       <form action="/urnik/{{ id_instruktorja }}/{{ leto_naslednjega_tedna }}/{{ naslednji_teden }}/"><button>Naslednji teden</button></form>
</p>

<form action="/odjava" method="POST"><button>odjava</button></form>

%if instruktor_bool:
    <form action="/ustvari_predmet/" method="get">
        <button>Ustvari nov predmet</button>
    </form>

    <form action="/razpolaganje/{{leto}}/{{teden}}/" method="get"><button>Razpoloži ure</button></form>

    <form action="/odpoved/{{leto}}/{{teden}}/" method="get">
        <button>Odpovej ure</button>
    </form>

    <form action="/osebne_ure/" method="get">
        <button>Prikaz osebnih ur</button>
    </form>
%else:
    <form action="/odpoved/{{leto}}/{{teden}}/" method="get">
        <button>Odpovej ure</button>
    </form>

    <form action="/osebne_ure/" method="get">
        <button>Prikaz osebnih ur</button>
    </form>

    <form action="/rezervacija/{{id_instruktorja}}/{{leto}}/{{teden}}/" method="get">
        <button>Rezerviraj uro</button>
    </form>
%end
</div>