% rebase('osnova.html')

<header>
    <h1>Instructor-inator</h1>
  <nav>
      <a href="/urnik/">Urnik</a>
      <a href="/osebne_ure/">Moje ure</a>
      %if instruktor_bool:
          <a href="/ustvari_predmet/">Ustvari nov predmet</a>
      %end

      <form action="/odjava" method="POST" style="text-align: center; float: right;">
          <button style="background-color: #29b5a4; position: relative; text-align: center; position: absolute; right: 40px; top: 2%;">
              <b>&#128682; Odjava</b>
          </button>
      </form>
  </nav>
  </header>

<h1>Ustvari predmet</h1>

<form action="/ustvari_predmet/0/" method="post">
    <label>Vpišite ime predmeta</label>
    <input name="ime_predmeta" placeholder="Ime" required><br><br>


    <label>Stopnja predmeta:</label>
    <label><input name="stopnja" type="radio" value="0" /> Osnovna šola</label>
    <label><input name="stopnja" type="radio" value="1" /> Srednja šola oz. gimnazija</label>
    <label><input name="stopnja" type="radio" value="2" /> Fakulteta</label><br>

    <input type="submit" value="Potrdi">

    %if napaka_pri_vnosu:
        <p style="color:red">Prosimo označite stopnjo predmeta.</p>
    %elif predmet_ze_obstaja:
        <p style="color:red">Ta predmet že obstaja.</p>
    %elif uspesnost:
        <p style="color: #5ac900;">Predmet je bil uspešno ustvarjen!</p>
    %end
</form>
