% rebase('osnova.html')

<h1> PRIJAVA </h1>


<form action="/prijava/" method="POST">
    <input name="username" placeholder="Uporabniško ime" autocomplete="off" required>
    <input name="password" placeholder="Geslo" autocomplete="off" required>
    %if uporabnik_ne_obstaja:
        <p style="color:red">Ta uporabnik ne obstaja</p>
    %elif napacno_geslo:
    <p style="color:red">Napačno geslo</p>
    %end

    <button> Potrditev </button>
</form>

<a href="/ustvari_racun/">Ustvari nov račun</a>

